<div class="ui text container">
  <div class="ui segment">
      <h1 class="ui header">About</h1>
      <img class="ui centered large rounded image" src="https://source.unsplash.com/WAPFd4fMy2o">
      <div class="top-buffer">
          <p>This website is created using Angular, Google Firebase and Semantic UI. The code is open source and available on <a href="https://github.com/b1018347/Blog">Github</a>.</p>
          <p>Cameron (me) the creator of this website now lives and works in Czech Republic as a software engineer focusing on the web. <b>Ahoj</b>.</p>
      </div>

  </div>
</div>  